<!-- benefits -->
<section class="benefits-wrapper">
  <h2 class="benefits-title">¿Por qué pasarte a Premium?</h2>
  <div class="benefits">
    <include src="./article-benefits.html" title="Descarga música" text="Llévala siempre contigo"
      image="./assets/images/benefit-1.png"></include>
    <include src="./article-benefits.html" title="Sin anuncios" text="Disfruta de música sin interrupciones"
      image="./assets/images/benefit-2.png"></include>
    <include src="./article-benefits.html" title="Escucha lo que quieras" text="Incluso en el móvil"
      image="./assets/images/benefit-3.png"></include>
    <include src="./article-benefits.html" title="Salta todas las canciones que quieras"
      text="Simplemente dale a siguiente" image="./assets/images/benefit-4.png"></include>

  </div>
</section>