/* header */
  
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  height: 30px;
  &__signup {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 30px;   
  }
}
.logo {
  height: 30px;
  &__signup {
    filter: opacity(0.4) drop-shadow(0 0 0 black);         
  }
}
.hamb {
  height: 30px;
  @media all and (min-width: 768px) {
   display: none;
 }
}  
.nav{
  display: none;
  @media all and (min-width: 768px) {
    display: block;
  }
}  
  .list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .link {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .link:hover {
    color: $buttonColor;
  }
  
  .link-signup:before {
    padding-left: 4px;
    content: '|';
    color: white;
  }
  
  